<% if user_signed_in? %>
  <% unless @article.user_id == current_user.id %>
    <% if current_user.favorites.find_by(article_id: @article.id) %>
      <%= link_to favorite_path(@article.id, current_user.favorites.find_by(article_id: @article.id)), method: :delete, remote: true do %>
        <span class="fa-stack">
          <i class="fa-solid fa-star fa-stack-2x"></i>
          <i class="fa-solid fa-check fa-stack-2x"></i>
        </span>
        <i class="fa-solid fa-f"></i><i class="fa-solid fa-a"></i><i class="fa-solid fa-v"></i>
          <%= @article.favorites.count %>
      <% end %>
    <% else %>
      <%= link_to favorites_path(article_id: @article.id), method: :post, remote: true do %>
      <i class="fa-regular fa-star fa-2x"></i><i class="fa-solid fa-f"></i><i class="fa-solid fa-a"></i><i class="fa-solid fa-v"></i>
        <%= @article.favorites.count %>
      <% end %>
    <% end %>
  <% end %>
<% end %>