<p class=" has-text-centered has-background-success is-size-3">フォロー・フォロワー一覧</p>
<br>
<div class="is-size-4"><i class="fa-solid fa-handshake"></i>フォロー</div>
<div class="container">
  <table class="table is-bordered is-striped">
    <tr class="th is-selected">
      <th></th>
      <th>ユーザー名</th>
      <th>フォロー</th>
    </tr>
    <% @following_users.each do |user| %>
        <tr>
          <td width="5%"><i class="fa-solid fa-handshake"></i></td>
          <td><%= link_to user.name, user %></td>
          <td><%= render 'follow_form', user: user %></td>
        </tr>
    <% end %>    
  </table>
</div>
<br>
<div class="is-size-4"><i class="fa-solid fa-handshake"></i>フォロワー</div>
<div class="container">
  <table class="table is-bordered is-striped">
    <tr class="th is-selected">
      <th></th>
      <th>ユーザー名</th>
      <th>フォロワー</th>
    </tr>
    <% @follower_users.each do |user| %>
        <tr>
          <td width="5%"><i class="fa-solid fa-handshake"></i></td>
          <td><%= link_to user.name, user %></td>
          <td><%= render 'follow_form', user: user %></td>
        </tr>
    <% end %>    
  </table>
</div>