<table>
  <tr>
    <th>名前</th>
    <th>フォロー</th>
  </tr>

  <h2>フォロー一覧</h2>
  <% @following_users.each do |user| %>
  <tr>
    <td><%= link_to user.name, user %></td>
    <td><%= render 'follow_form', user: user %></td>
  </tr>
  <% end %>
</table>
  

<table>
  <tr>
    <th>名前</th>
    <th>フォロー</th>
  </tr>

  <h2>フォロワー一覧</h2>
  <% @follower_users.each do |user| %>
  <tr>
    <td><%= link_to user.name, user %></td>
    <td><%= render 'follow_form', user: user %></td>
  </tr>
  <% end %>
</table>
