<p class=" has-text-centered has-background-success is-size-3">フォロー・フォロワー一覧</p>
<br>
<article class="message is-info">
  <div class="message-header">
    <p>フォロー・フォロワーについて</p>
  </div>
  <div class="message-body">
    記事や質問から投稿者名をクリックすることで投稿者のマイページを見ることができます。
    マイページにて【ユーザーをフォローする】ボタンからそのユーザーをフォローすることができます。<br>
    フォローしているユーザーとフォローされいるているユーザーの一覧がわかります。
    ユーザー同士が互いにフォローをすることでダイレクトメッセージが送信可能になります。
    ページ上部の検索より【ユーザー名】での検索も可能です。
  </div>
</article>
<div class="is-size-4"><i class="fa-solid fa-handshake"></i>フォロー</div>
<div class="container">
  <table class="table is-bordered is-striped">
    <tr class="th is-selected">
      <th></th>
      <th>ユーザー名</th>
      <th>フォロー</th>
    </tr>
    <% @following_users.each do |user| %>
        <tr>
          <td width="5%"><i class="fa-solid fa-handshake"></i></td>
          <td><%= link_to user.name, user %></td>
          <td><%= render 'follow_form', user: user %></td>
        </tr>
    <% end %>    
  </table>
</div>
<br>
<div class="is-size-4"><i class="fa-solid fa-handshake"></i>フォロワー</div>
<div class="container">
  <table class="table is-bordered is-striped">
    <tr class="th is-selected">
      <th></th>
      <th>ユーザー名</th>
      <th>フォロワー</th>
    </tr>
    <% @follower_users.each do |user| %>
        <tr>
          <td width="5%"><i class="fa-solid fa-handshake"></i></td>
          <td><%= link_to user.name, user %></td>
          <td><%= render 'follow_form', user: user %></td>
        </tr>
    <% end %>    
  </table>
</div>