// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

/*Twitter*/
.fa-twitter {color:#1da1f2;}
/*instagram*/
.fa-instagram{color:#e1306c;}
/*tiktok*/
.fa-tiktok{color:#30e1d2;}
/*Facebook*/
.fa-facebook-square{color:#3b5998;}
.fa-facebook{color:#3b5998;}
/*youtube*/
.fa-youtube{color:#ff0000;}
/*instagram*/
.fa-instagram{color:#e1306c;}
/*website*/
.fa-window-maximize{color: #a04b00;}

.no-ragistration{color:#8a8a8ac6;}